body{
    padding: 0; margin: 0;
    background-color: #000;
}
.XPG_logo{
    position: absolute;
    left: 187px;
    top: 6px;
}                                                       
.one, .two, .three, .four,.five{
    position: absolute;
    top: 30px;
}
.one{
    position: absolute;
    left: 519px;
}
.two{
    position: absolute;
    left: 635px;
}
.three{
    position: absolute;
    left: 730px;
}
.four{
    position: absolute;
    left: 881px;
}
.five{
    position: absolute;
    left: 1020px;
}
a{
    position: absolute;
    left: 480px;
    top: 3%;
    text-decoration: none;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
a:hover{
    color: #D00;
}
.xpg_02{
    position: absolute;
    left: 1337px;
    top: 6px;
}
.st_p{                             /* Where to buy */
    position: absolute;
    top: 165px;
    left: 436px;
    font-size: 30px;
    color: #f00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nd_p{                            /* Step1. Please select your channel type to find the relevant information: */
    position: absolute;
    top: 237px;
    left: 450px;
    font-size: 14px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wheretobuy_arrow{
    position: absolute;
    top: 257px;
    left: 435px;
}
.Select_the_country{                         /* Select the country */
    position: absolute;
    top: 249px;
    left: 1080px;
    font-size: 15px;
    color: #f00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
select{
    position: absolute;
    top: 274px;
    left: 1063px;
    width: 159px;
    background: #333;
    color: rgb(197, 197, 197);
    border: 1px solid #f00;
    height: 21px;
    outline: none;
}
.sldiv{                                                     /* The larg div it's contain four child divs */
    position: absolute;
    top: 306px;
    left: 440px;
    background-color: #181818;
    border-radius: 10px;
    border: 5px solid #D00;
    border-style: groove;
    width: 780px;
    height: 82px;
}
.sdiv{                                                         /* Dealer */
    position: absolute;
    top: 47%;
    left: 5%;
    display: inline;
    width: 80px;
    background: #ff1414;
    padding: 5px;
    padding-right: 20px;
    padding-left: 30px;
    border: 1px solid rgb(228, 101, 101);
    border-radius: 5px;
}
.fone{
    position: absolute;
    left: 11%;
    font-size: 14px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ll{
    font-size: 14px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ssdiv{                                                       /* Distributors */
    position: absolute;
    top: 47%;
    left: 30%;
    display: inline;
    width: 80px;
    background: #ff1414;
    padding: 5px;
    padding-right: 20px;
    padding-left: 30px;
    border: 1px solid rgb(228, 101, 101);
    border-radius: 5px;
}
.ftwo{
    position: absolute;
    left: 34%;
    font-size: 14px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sssdiv{                                                        /* Retailers */
    position: absolute;
    top: 47%;
    left: 54%;
    display: inline;
    width: 80px;
    background: #ff1414;
    padding: 5px;
    padding-right: 20px;
    padding-left: 30px;
    border: 1px solid rgb(228, 101, 101);
    border-radius: 5px;
}
.fthree{
    position: absolute;
    left: 59%;
    font-size: 14px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ssssdiv{                                                   /* Online Partners */
    position: absolute;
    top: 47%;
    left: 78%;
    display: inline;
    width: 80px;
    background: #ff1414;
    padding: 5px;
    padding-right: 20px;
    padding-left: 30px;
    border: 1px solid rgb(228, 101, 101);
    border-radius: 5px;
}
.ffour{
    position: absolute;
    left: 81%;
    font-size: 14px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
                                                               /* The End */
.wheretobuy_arrow_1{
    position: absolute;
    top: 437px;
    left: 437px;
}
.rd_p{                                                       /* Egypt */
    position: absolute;
    top: 416px;
    left: 452px;
    font-size: 14px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.type{                                    /* A larg div it's contain six images */
    width: 767px;
    height: 313px;
    position: absolute;
    top: 485px;
    left: 450px;
    background: #181818;
}
.img_1{           
    position: absolute;
    top: 4% ;
    left: 8%;
}
.img_2{
    position: absolute;
    top: 18%;
    left: 31%;
}
.img_3{
    position: absolute;
    top: 14%;
    left: 54%;
}
.im{
    width: 120px;
}
.img_4{
    position: absolute;
    top: 19%;
    left: 77%;
}
.img_5{
    position: absolute;
    top: 50%;
    left: 8%;
}
.img_6{
    position: absolute;
    top: 55%;
    left: 31%;
}
.border_top{
    position: absolute;
    top: 455px;
    left: 432px;
}
.border_bottom{
    position: absolute;
    top: 787px;
    left: 432px;
}
.border_right{
    position: absolute;
    top: 482px;
    left: 430px;
}
.border_left{
    position: absolute;
    top: 482px;
    left: 1208px;
}
.top{
    position: absolute;
    top: 815px;
    left: 1207px;
    font-size: normal;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.last{                                             /* A div countain hyperlinks */
    position: absolute;
    top: 840px;
    height: 200px;
    width: 1663px;
    background: rgb(16, 16, 16);
    border-top: 4px solid rgb( 92, 0, 0 );
}
.PRODUCTS, .SUPPORT, .COMPANYINFO{
    font-size: 17px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.PRODUCTS{
    position: absolute;
    top: 11%;
    left: 10%;
}
.SUPPORT{
    position: absolute;
    top: 11%;
    left: 40%;
}
.COMPANYINFO{
    position: absolute;
    top: 11%;
    left: 70%;
}
.Fcolumn_1, .Fcolumn_2, .Fcolumn_3, .Fcolumn_4, .Fcolumn_5, .Fcolumn_6, .Scolumn_1, .Scolumn_2, .Scolumn_3, 
.Scolumn_4, .Scolumn_5, .Scolumn_6, .Tcolumn_1,.Tcolumn_2, .Tcolumn_3{
    font-size: 14px;
    letter-spacing: 1px;
    color: #888;
}
.Fcolumn_1{
    position: absolute;
    top: 39%;
    left: 168px;
}
.Fcolumn_2{
    position: absolute;
    top: 55%;
    left: 168px;
}

.Fcolumn_3{
    position: absolute;
    top: 71%;
    left: 168px;
}
.Fcolumn_4{
    position: absolute;
    top: 39%;
    left: 393px;
}
.Fcolumn_5{
    position: absolute;
    top: 55%;
    left: 393px;
}
.Fcolumn_6{
    position: absolute;
    top: 71%;
    left: 393px;
}
.Scolumn_1{
    position: absolute;
    top: 39%;
    left: 647px;
}
.Scolumn_2{
    position: absolute;
    top: 55%;
    left: 647px;
}
.Scolumn_3{
    position: absolute;
    top: 71%;
    left: 647px;
}
.Scolumn_4{
    position: absolute;
    top: 39%;
    left: 873px;
}
.Scolumn_5{
    position: absolute;
    top: 55%;
    left: 873px;
    line-height: 25px;
}
.Scolumn_6{
    position: absolute;
    top: 86%;
    left: 873px;
}
.Tcolumn_1{
    position: absolute;
    top: 39%;
    left: 1126px;
}
.Tcolumn_2{
    position: absolute;
    top: 55%;
    left: 1126px;
}
.Tcolumn_3{
    position: absolute;
    top: 71%;
    left: 1126px;
}
.Tcolumn_4, .Tcolumn_5{
    font-size: 17px;
    color: #fff;   
}
.Tcolumn_4{
    position: absolute;
    top: 18%;
    left: 85%;
}
.Tcolumn_5{
    position: absolute;
    top: 65%;
    left: 85%;
}
.Tcolumn_4:hover, .Tcolumn_5:hover{
    color: #fff;
}
.copy{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 30px;
    background-color: rgb( 92, 0, 0 );
    color: #fff;
    text-align: right;
}
.red{
    position: absolute;
    top: 1045px;
    width: 1663px;
    height: 34px;
    background: rgb( 92, 0, 0 );
}
.eg{
    position: absolute;
    top: 11px;
    left: 157px;
    display: inline;
}
.eg_a{
    position: absolute;
    top: 5px;
    left: 180px;
    display: inline;
}
.copy{
    position: absolute;
    top: 0px;
    left: 1180px;
    display: inline;
    font-size: 14px;
    width: 400px;
    height: 5px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
